@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body{
       @apply bg-[#1A1A1A] text-[#E5E5E5];
    }

    body::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    body::-webkit-scrollbar-track {
        background: black; 
    }
    body::-webkit-scrollbar-thumb {
        background: #5E5E5F;
        border-radius: 100vh;

    }
    /* body::-webkit-scrollbar-thumb:hover{
        background: #c0a0b9;
    } */
}

@layer components {
    .home-page {
        @apply flex justify-between h-screen mt-[100px] px-9;
    }
    .home-sidebar-left {
        @apply w-[20%] p-3 flex flex-col justify-between fixed top-0 bottom-0 left-6 pt-[80px];
    }
    .home-sidebar-right {
        @apply w-[20%] p-3 flex flex-col justify-between fixed top-0 bottom-0 right-6 pt-[80px] ;
    }
    .list-post{
        @apply w-[50%] min-h-screen m-auto bg-[#1A1A1A];
    }
    .box {
        @apply bg-box rounded-lg;
    }
    .banner-login {
        @apply w-1/2 bg-[#ff416c] flex flex-col items-center justify-center absolute top-0 left-0 h-full duration-500;
    }
    .login-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm 
        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
         dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
          dark:focus:border-blue-500 outline-none;
    }
    .form-login {
        @apply w-full md:w-1/2 flex flex-col justify-between absolute top-0 right-0 bottom-0 transition-all duration-500 ease-in-out;
    }
    .button-login {
        @apply text-white bg-black hover:bg-blue-800 
        focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-5 py-2 text-center
         dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }
    .mb-login-form {
        @apply w-[70%] p-3 space-y-6 ;
    }
    .story-item {
        @apply flex flex-col items-center justify-between text-[#909090] gap-2 w-[12%] hover:text-white cursor-pointer ;
    }
    
    .story-item-img {
        @apply relative overflow-hidden w-16 h-16 p-1 border rounded-xl border-[#373737]  
        flex items-center justify-center shadow-lg duration-700 ;
    }
    /* .story-item:hover > .story-item-img{
        @apply border-red-400;
    } */
    .profile-item {
        @apply flex flex-col items-center justify-center;
    }
    .image-circle {
        @apply w-full h-full object-cover rounded-full;
    }
    .text-underline {
        @apply hover:underline cursor-pointer;
    }
    .button-submit {
        @apply bg-[#FFFCF9] text-black border hover:bg-black hover:text-white 
        focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-5 py-2 text-center
         dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex items-center justify-center gap-2;
    }
    .dotSelect {
        @apply p-2 rounded-full hover:bg-hover-bg  cursor-pointer;
    }
    .scrollChatAll::-webkit-scrollbar {
        @apply w-[8px] h-[10px] ;
    }
    .scrollChatAll::-webkit-scrollbar-track{
        @apply bg-[#424242] rounded-full;
    }
    .scrollChatAll::-webkit-scrollbar-thumb {
        @apply bg-[#5E5E5F] rounded-full ;
    }
}
/* .stoty-item-loading {
    overflow: hidden;
    position: relative;
} */
.stoty-item-loading::before {
    content: "";
    background-image: conic-gradient(
        #ff0052 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    /* z-index: -1; */
    position: absolute;
    animation: rotateStory 1s linear infinite;
}
.story-item-img::after {
    content: "";
    width: 93%;
    height: 93%;
    border-radius: 0.7rem;
    background: #101010;
    position: absolute;

}


.textJump span {
    animation: jump 0.8s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}


@keyframes jump
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-15px);
    }
    40%, 100%
    {
        transform: translateY(0px);
    }
 }


 @keyframes rotateStory {
    0% 
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(-360deg);
    }
 }